<div class="container col-lg-6">
    <h3 mat-dialog-title class="text-center">Modifier l'Employé {{data.matricule}}</h3>
    <div mat-dialog-content>
      <form class="example-form">
        <div>
          <mat-form-field>
            <input type="text" disabled
              matInput name="matricule"
              placeholder="Matricule"
              [(ngModel)]="data.matricule"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input  type="text" name="nom"  matInput placeholder="Nom " [(ngModel)]="data.nom"   />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input  type="text"  name="prenom" matInput placeholder="Prénom " [(ngModel)]="data.prenom"   />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
  
            <input type="text" name="email" matInput placeholder="Email " [(ngModel)]="data.email"  />
          </mat-form-field>
        </div>
      </form>
    </div>
  
    <div mat-dialog-actions>
      <button
        mat-button
        [type]="submit"
        [mat-dialog-close]="data"
        (click)="confirm()" >
        Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>
  