<div class="container col-lg-6">
  <h3 mat-dialog-title class="text-center">Ajout d'un nouveau Employé</h3>
  <div mat-dialog-content>
    <form class="example-form">
      <div>
        <mat-form-field>
          <input type="text" 
            matInput name="matricule"
            placeholder="Matricule"
            [(ngModel)]="dialog-data.matricule"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input  type="text" name="nom"  matInput placeholder="Nom " [(ngModel)]="dialog-data.nom"   />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input  type="text"  name="prenom" matInput placeholder="Prénom " [(ngModel)]="dialog-data.prenom"   />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>

          <input type="text" name="email" matInput placeholder="Email " [(ngModel)]="dialog-data.email"  />
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button
      mat-button
      [type]="submit"
      [mat-dialog-close]="dialog-data"
      (click)="confirmAdd()" >
      Save
    </button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
